In [1]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine
from sqlalchemy import create_engine, NVARCHAR, INTEGER, FLOAT


##Configuration of final output
combined_file_name = "09-05-2024 Full Data_v0.9.xlsx"

# List all available ODBC drivers
drivers = pyodbc.drivers()
print("Available ODBC drivers:")
for driver in drivers:
    print(driver)

Available ODBC drivers:
SQL Server
SQL Server Native Client RDA 11.0
ODBC Driver 17 for SQL Server
ODBC Driver 18 for SQL Server
Oracle in OraDB21Home1
Microsoft Access Driver (*.mdb, *.accdb)
Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)
Microsoft Access Text Driver (*.txt, *.csv)
Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)

In [2]:
# Set up the connection parameters
server = 'LAPTOP-1PB7RUND'
database = '09052024_AmericanaFoods_BacktestingData_v0.9'
driver = 'ODBC Driver 17 for SQL Server'

# Build the connection string with Windows authentication
connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};trusted_connection=yes"

# Connect to the SQL Server database
conn = pyodbc.connect(connection_string)

# Query the database to get all table names
sql_query = "SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE'"
table_names_df = pd.read_sql(sql_query, conn)
#sql_query = "SELECT * FROM TC_06_NegativeList_01_FGSupply"
#df = pd.read_sql(sql_query, conn)
# Close the connection
conn.close()

# Display the table names DataFrame
print(table_names_df)
#print(df.head())

##Testing

                              TABLE_NAME
0                T_01_Prep_line_capacity
1                  TM_02_LOC_04_FactLine
2                   TM_02_LOC_01_Country
3               TC_01_Demand_01_FGDemand
4                       TC_02_FRT_01_Sec
5                       TC_02_FRT_02_Pri
6                 TC_03_Factories_01_BOM
7         TC_03_Factories_02_WorkingDays
8           TC_03_Factories_03_ShiftData
9       TC_03_Factories_04_LineFGSKUData
10       TC_03_Factories_06_LabourSupply
11                     TC_04_INV_01_FGOS
12                     TC_04_INV_02_RMOS
13                    TC_04_INV_04_RMInv
14               TM_01_Material_01_FGSKU
15               TM_01_Material_02_RMSKU
16             TM_01_Material_03_TrimSKU
17                TM_02_LOC_02_Warehouse
18                  TM_02_LOC_03_Factory
19                      T_01_RM_transfer
20                     T_01_FGfact_trimm
21                            T_01_WH_FG
22          T_01_RMTransfer_Restrictions
23              T_01_Min_contract_labour
24                     T_01_Prep_line_FG
25  TC_03_Factories_08_PrepComboCapacity
26              TC_04_INV_06_FGCSInvNorm
27                    TC_04_INV_03_FGInv
28        TC_06_NegativeList_01_FGSupply
29        TC_06_NegativeList_02_RMSupply
30                      TM_04_FIN_01_ICC
31                   TM_03_CAL_01_Months

C:\Users\Sumedha\AppData\Local\Temp\ipykernel_28216\1964206968.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  table_names_df = pd.read_sql(sql_query, conn)

### Making Changes from df to SQL Server

####  Step 1.a: Uploading All excel files¶

In [3]:
# Use raw string with 'r' prefix
excel_file = combined_file_name

# Read Excel file into DataFrames
df_lines = pd.read_excel(excel_file, sheet_name='Lines', skiprows=1)
df_country = pd.read_excel(excel_file, sheet_name='Country', skiprows=1)
df_demand = pd.read_excel(excel_file, sheet_name='Demand', skiprows=1)
df_Secondary_Freight = pd.read_excel(excel_file, sheet_name='Secondary Freight', skiprows=1)
df_warehouse = pd.read_excel(excel_file, sheet_name='Warehouse', skiprows=1)
df_fgsku = pd.read_excel(excel_file, sheet_name='FG SKUs', skiprows=1)
df_rmsku = pd.read_excel(excel_file, sheet_name='RM SKUs', skiprows=1)
df_trimming = pd.read_excel(excel_file, sheet_name='TrimmingSKUs', skiprows=1)
# df_WCC = pd.read_excel(excel_file, sheet_name='WorkingCaptitalCost', skiprows=1)
df_FG_M1OS = pd.read_excel(excel_file, sheet_name='FG - M1OS', skiprows=1)
df_RM_M1OS = pd.read_excel(excel_file, sheet_name='RM- M1OS', skiprows=1)
df_Primary_Freight = pd.read_excel(excel_file, sheet_name='Primary Freight', skiprows=1)
df_Production = pd.read_excel(excel_file, sheet_name='Production', skiprows=1)
df_BOM = pd.read_excel(excel_file, sheet_name='BOM', skiprows=1)
df_Factory_Operations = pd.read_excel(excel_file, sheet_name='Factory Operations', skiprows=1)
df_calender = pd.read_excel(excel_file, sheet_name='Calendar', skiprows=1)
df_RM_Supply = pd.read_excel(excel_file, sheet_name='RM Supply', skiprows=1)
# df_FG_Inventory_Norms = pd.read_excel(excel_file, sheet_name='FG Inventory Norms', skiprows=2)
df_LabourData = pd.read_excel(excel_file, sheet_name='LabourData', skiprows=1)
# df_FG_Restrictions = pd.read_excel(excel_file, sheet_name='FG Restrictions', skiprows=4)
# df_RM_Restrictions = pd.read_excel(excel_file, sheet_name='RM Restrictions', skiprows=4)
df_factory= pd.read_excel(excel_file, sheet_name='Factory', skiprows=1)
df_rm_transfer= pd.read_excel(excel_file, sheet_name='RM Transfer', skiprows=1)
df_fgfact_trimm=pd.read_excel(excel_file, sheet_name='FG- Fact Trimming', skiprows=1)
df_wh_fg=pd.read_excel(excel_file, sheet_name='WH-FG Storage', skiprows=1)
df_rmtransfer_restrictions=pd.read_excel(excel_file, sheet_name='RM Transfer Restrictions', skiprows=1)
df_min_contract_labour=pd.read_excel(excel_file, sheet_name='Minimum Contract Labour Hours', skiprows=1)
df_prep_line_fg=pd.read_excel(excel_file, sheet_name='Preparation Lines FG', skiprows=1)
df_prep_line_capacity=pd.read_excel(excel_file, sheet_name='Preparation Lines Capacity', skiprows=1)
df_TC_04_INV_06_FGCSInvNorm=pd.read_excel(excel_file,sheet_name='TC_04_INV_06_FGCSInvNorm',skiprows=1)
df_TC_04_INV_03_FGInv=pd.read_excel(excel_file,sheet_name='TC_04_INV_03_FGInv',skiprows=1)
df_TC_06_NegativeList_01_FGSupply=pd.read_excel(excel_file,sheet_name='TC_06_NegativeList_01_FGSupply',skiprows=1)
df_TC_06_NegativeList_02_RMSupply=pd.read_excel(excel_file,sheet_name='TC_06_NegativeList_02_RMSupply',skiprows=1)
df_TM_04_FIN_01_ICC=pd.read_excel(excel_file,sheet_name='TM_04_FIN_01_ICC',skiprows=1)
df_TM_03_CAL_01_Months=pd.read_excel(excel_file,sheet_name='TM_03_CAL_01_Months',skiprows=1)

# List of DataFrames
dataframes = [df_lines, df_country, df_demand, df_Secondary_Freight, df_warehouse, df_fgsku, df_rmsku, df_trimming, 
             df_FG_M1OS, df_RM_M1OS, df_Primary_Freight, df_Production, df_BOM, df_Factory_Operations, 
              df_calender, df_RM_Supply, df_LabourData, df_factory,df_rm_transfer,df_fgfact_trimm,df_wh_fg,df_rmtransfer_restrictions,
             df_min_contract_labour, df_prep_line_fg, df_prep_line_capacity,df_TC_04_INV_06_FGCSInvNorm ,df_TC_04_INV_03_FGInv,
             df_TC_06_NegativeList_01_FGSupply,df_TC_06_NegativeList_02_RMSupply,df_TM_04_FIN_01_ICC,df_TM_03_CAL_01_Months]


table_names = ['df_lines', 'df_country', 'df_demand', 'df_Secondary_Freight', 'df_warehouse', 'df_fgsku', 'df_rmsku', 'df_trimming', 
             'df_FG_M1OS', 'df_RM_M1OS', 'df_Primary_Freight', 'df_Production', 'df_BOM', 'df_Factory_Operations', 
               'df_calender', 'df_RM_Supply', 'df_LabourData','df_factory', 'df_rm_transfer','df_fgfact_trimm','df_wh_fg','df_rmtransfer_restrictions',
             'df_min_contract_labour', 'df_prep_line_fg', 'df_prep_line_capacity','df_TC_04_INV_06_FGCSInvNorm','df_TC_04_INV_03_FGInv',
              'df_TC_06_NegativeList_01_FGSupply','TC_06_NegativeList_02_RMSupply','df_TM_04_FIN_01_ICC','df_TM_03_CAL_01_Months']

# Remove the first unnamed column from each DataFrame
for df in dataframes:
    if 'Unnamed: 0' in df.columns:
        df.drop('Unnamed: 0', axis=1, inplace=True)

# Now you can print the table name followed by the DataFrame
for table_name, df in zip(table_names, dataframes):
    print(f"Table Name: {table_name}")
    print(df.head())
    print("\n")


# Remove the first unnamed column from each DataFrame
#for df in dataframes:
 #   df.drop(df.columns[0], axis=1, inplace=True)
#print(df_Primary_Freight.head())
# Now you can work with the DataFrames
#for df in dataframes:
 #   print(df.head())

Table Name: df_lines
  FactCode Line  LineDesc
0      NFC  G76       NaN
1      NFC  G64       NaN
2      NFC   M7       NaN
3      NFC    D       NaN
4      NFC    F       NaN


Table Name: df_country
             CountryCode           CountryDesc  SubCountryCode  SubCountryDesc
0  IS & PL_Cote d'Ivoire         Cote d'Ivoire             NaN             NaN
1           IS & PL_Iraq                  Iraq             NaN             NaN
2         IS & PL_Jordan                Jordan             NaN             NaN
3            IS & PL_KSA          Saudi Arabia             NaN             NaN
4            IS & PL_UAE  United Arab Emirates             NaN             NaN


Table Name: df_demand
    FGSKUCode                Country  Month      UM  Demand  Ret_Flag
0  4001351001  IS & PL_Cote d'Ivoire     12  CARTON   150.0         1
1  4001351022  IS & PL_Cote d'Ivoire     12  CARTON    38.0         1
2  4001370158  IS & PL_Cote d'Ivoire     12  CARTON    30.0         1
3  4001370255  IS & PL_Cote d'Ivoire     12  CARTON    25.0         1
4  4001370283  IS & PL_Cote d'Ivoire     12  CARTON    20.0         1


Table Name: df_Secondary_Freight
    FGSKUCode Warehouse                Country  Missing_Flag  \
0  4001351001      NFCM  IS & PL_Cote d'Ivoire             0
1  4001351001      NFCM           IS & PL_Iraq             0
2  4001351001      NFCM         IS & PL_Jordan             0
3  4001351001      NFCM            IS & PL_KSA             0
4  4001351001      NFCM            IS & PL_UAE             0

   Total Cost(FRT_CD)  retain_flag  MaxShipment
0            2.794805            1      1000000
1            1.089206            1      1000000
2            0.687706            1      1000000
3            0.000000            1      1000000
4            0.667965            1      1000000


Table Name: df_warehouse
  WHCode  WHDesc  WHLoc  WHCountry  PalletCapacity  CostPerPalletPerMonth
0   NFCM     NaN    NaN        NaN             NaN                  30.00
1   GFCM     NaN    NaN        NaN             NaN                  18.79
2   KFCM     NaN    NaN        NaN             NaN                  53.25


Table Name: df_fgsku
      FG Code                                           FG Desc   FG Cat  \
0  4001351001                            Beef Hot Dog 450G X 20   COOKED
1  4001351022        CRAVES ANGUS BEEF HOTDOG 450GM (20*5*90GM)   COOKED
2  4001370158  ZINGZ BREADED CHICKEN BURGER 12 PCS (18*12*56GM)  CHICKEN
3  4001370255                 Chicken Nuggets 750G (10*1*750Gm)  CHICKEN
4  4001370283      TWISTERZZZ CHICKEN NUGGETS 750G (10*1*750GM)  CHICKEN

   FG UOM  WtPerUnit  Book Cost  retain_flag
0  CARTON      9.000   6.306063            1
1  CARTON      9.000   4.276214            1
2  CARTON     12.204   6.562399            1
3  CARTON      7.500   7.985719            1
4  CARTON      7.500   5.177096            1


Table Name: df_rmsku
      RM Code RM UOM                 RM Desc
0  1001101033    KGM  Tail off shrimps 31/37
1  1001101035    KGM  TAIL-OFF SHRIMPS 41/46
2  1001101108    KGM          CHICKEN BREAST
3  1001101111    KGM     FROZEN CHICKEN SKIN
4  1001101127    KGM        CHICKEN TRIMMING


Table Name: df_trimming
   TrimmingSKUCode   TrimmingSKUDesc
0       1001101127  CHICKEN TRIMMING


Table Name: df_FG_M1OS
    FGSKUCode      UM WH Code   From NFC  From GFC  From KFC  retain_flag  \
0  4001351001  CARTON    NFCM  1643.5971       0.0       0.0            1
1  4001351001  CARTON    GFCM     0.0000    1020.0       0.0            1
2  4001351001  CARTON    KFCM     0.0000       0.0       0.0            1
3  4001351022  CARTON    NFCM   694.8152       0.0       0.0            1
4  4001351022  CARTON    GFCM     0.0000       1.0       0.0            1

   Missing_Flag
0             1
1             1
2             0
3             1
4             1


Table Name: df_RM_M1OS
      RM Code RM UOM FactCode       RM-M1OS  Retain_Flag  Missing_Flag
0  1001101002    KGM      NFC  1.296166e+06            1             1
1  1001101007    KGM      NFC  5.942160e+05            1             1
2  1001101033    KGM      NFC  1.515000e+04            1             1
3  1001101034    KGM      NFC  0.000000e+00            1             0
4  1001101035    KGM      NFC  4.720000e+04            1             1


Table Name: df_Primary_Freight
  Origin WHCode     FG Code  Total Cost(FRT_CD)  retain_flag  Missing_Flag  \
0    NFC   NFCM  4001351001            0.000000            1             0
1    NFC   GFCM  4001351001            0.667965            1             0
2    NFC   KFCM  4001351001            0.646465            1             0
3    KFC   NFCM  4001351001            0.507305            1             0
4    KFC   GFCM  4001351001            0.461495            1             0

   MaxShipment
0      1000000
1      1000000
2      1000000
3      1000000
4      1000000


Table Name: df_Production
  FactCode  LineNum  Unified code  MOQ  ThruputPerHour  EnergyCostPerUnitBOM1  \
0      NFC        F    4001351001    0      172.222222               0.134477
1      KFC  Tiromat    4001351001    0       66.000000               0.035210
2      NFC        F    4001351022    0      172.222222               0.134477
3      NFC       C1    4001370158    0      109.375000               0.063634
4      NFC       C2    4001370158    0       91.145833               0.076361

   EnergyCostPerUnitBOM2  TeamSizeBOM1  TeamSizeBOM2  retain_flag
0               0.134477     15.000000     15.000000            1
1               0.035210     20.000001     20.000001            1
2               0.134477     15.000000     15.000000            1
3               0.063634     18.000000     18.000000            1
4               0.076361     18.000000     18.000000            1


Table Name: df_BOM
  Bom version FactCode     FG CODE                 FG DESC  FG UOM  \
0       BOM-1      NFC  4001351001  Beef Hot Dog 450G X 20  CARTON
1       BOM-1      NFC  4001351001  Beef Hot Dog 450G X 20  CARTON
2       BOM-1      KFC  4001351001  Beef Hot Dog 450G X 20  CARTON
3       BOM-1      KFC  4001351001  Beef Hot Dog 450G X 20  CARTON
4       BOM-1      KFC  4001351001  Beef Hot Dog 450G X 20  CARTON

      RM CODE                     RM DESC RM UOM  \
0  1001101007     BRAZILIAN BEEF TRIMMING    KGM
1  1001101002  BRAZILIAN BEEF FOREQUARTER    KGM
2  1001101007     BRAZILIAN BEEF TRIMMING    KGM
3  1001101002  BRAZILIAN BEEF FOREQUARTER    KGM
4  2013104212              ESSY PEEL 26MM     EA

   Consumption per unit of FG (KG per UOM)  Cum Share taken  retain_flag
0                                 6.173459         0.823556            1
1                                 0.440961         0.823556            1
2                                 4.477320         0.818523            1
3                                 2.272700         0.818523            1
4                                 1.272700         0.818523            1


Table Name: df_Factory_Operations
  FactCode LineNum  ShiftNum  StandardHoursPerDay  OT  MaxVirtualShift  \
0      NFC     G76         1                    8   4             1000
1      NFC     G64         1                    8   4             1000
2      NFC      M7         1                    8   4             1000
3      NFC       D         1                    8   4             1000
4      NFC       F         1                    8   4             1000

   CostVirtualShift  CostRealShift  CostOT
0              1000            100      20
1              1000            100      20
2              1000            100      20
3              1000            100      20
4              1000            100      20


Table Name: df_calender
  FactCode  MonthNum  HoursPerDay  WorkingDays
0      NFC         1           24           24
1      NFC         2           24           24
2      NFC         3           24           24
3      NFC         4           24           24
4      NFC         5           24           24


Table Name: df_RM_Supply
      RM Code RM UOM FactCode  CostPerUnit       MaxOS  MinOS  Month  \
0  1001101033    KGM      GFC     1.100657  1000000000      0      1
1  1001101033    KGM      GFC     1.100657  1000000000      0      2
2  1001101033    KGM      GFC     1.100657  1000000000      0      3
3  1001101033    KGM      GFC     1.100657  1000000000      0      4
4  1001101033    KGM      GFC     1.100657  1000000000      0      5

   retain_flag  MinCS  MaxCS  MaxSupLim  RMStoreCost
0            1    NaN    NaN        NaN          NaN
1            1    NaN    NaN        NaN          NaN
2            1    NaN    NaN        NaN          NaN
3            1    NaN    NaN        NaN          NaN
4            1    NaN    NaN        NaN          NaN


Table Name: df_LabourData
  FactCode  MonthNum  R_Days  R_Count  R_Min  R_Max  R_Hrs  R_OT      R_Wages  \
0      NFC         1      24      293    234    352      8     4  2053.333333
1      NFC         2      24      293    234    352      8     4  2053.333333
2      NFC         3      24      293    234    352      8     4  2053.333333
3      NFC         4      24      293    234    352      8     4  2053.333333
4      NFC         5      24      293    234    352      8     4  2053.333333

   R_OTWages  ...  C_OT  C_OTWages  RegCSMin  RegCSMax  CtrCSMin  CtrCSMax  \
0   4.296476  ...     8   5.138889       NaN       NaN       NaN       NaN
1   4.296476  ...     8   5.138889       NaN       NaN       NaN       NaN
2   4.296476  ...     8   5.138889       NaN       NaN       NaN       NaN
3   4.296476  ...     8   5.138889       NaN       NaN       NaN       NaN
4   4.296476  ...     8   5.138889       NaN       NaN       NaN       NaN

   RegMaxHire  RegMaxFire  CtrMaxHire  CtrMaxFire
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 22 columns]


Table Name: df_factory
  FactCode  FactDesc  FactLoc FactCountry  TrimStorageCost
0      NFC       NaN      NaN         KSA              NaN
1      KFC       NaN      NaN      Kuwait              NaN
2      GFC       NaN      NaN         UAE              NaN


Table Name: df_rm_transfer
  OrigFact DestFact    TSKUCode  MthNum  FrtRate/kg
0      GFC      KFC  1001101127       1     0.179568
1      GFC      KFC  1001101127       2     0.179568
2      GFC      KFC  1001101127       3     0.179568
3      GFC      KFC  1001101127       4     0.179568
4      GFC      KFC  1001101127       5     0.179568


Table Name: df_fgfact_trimm
      FG Code Fact Code  TrimmingKGPerUnit
0  4001370809       NFC           9.434392
1  4001370846       GFC           2.480902
2  4001370846       NFC           3.874906
3  4001371504       GFC           2.568640
4  4001371504       NFC           2.579313


Table Name: df_wh_fg
    FGSKUCode      UM WH Cod  Storage Cost/Pallet (USD)  CostperUOM  \
0  4001351001  CARTON   NFCM                      30.00    0.340909
1  4001351001  CARTON   GFCM                      18.79    0.274529
2  4001351001  CARTON   KFCM                      53.25    0.585165
3  4001351022  CARTON   NFCM                      30.00    0.625000
4  4001351022  CARTON   GFCM                      18.79    0.503304

   retain_flag
0            1
1            1
2            1
3            1
4            1


Table Name: df_rmtransfer_restrictions
  OrigFact DestFact    TSKUCode  MaxLimit
0      GFC      NFC  1001101127         0
1      KFC      NFC  1001101127         0


Table Name: df_min_contract_labour
  Factory  MinContractLabourHoursPerMonth
0     GFC                             184
1     KFC                             184
2     NFC                             184


Table Name: df_prep_line_fg
  Factory Combination    SKU Code
0     GFC         DSI  4001370244
1     GFC         DSI  4001370324
2     GFC         DSI  4001370804
3     GFC         DSI  4001370806
4     GFC         DSI  4001370831


Table Name: df_prep_line_capacity
  Factory Combination  maxProdKg
0     NFC         DSI     637560
1     NFC         TSM     264960
2     GFC         DSI     626934


Table Name: df_TC_04_INV_06_FGCSInvNorm
    FGSKUCode   SumOfDemand  T28DaysDemand    FGM1OS      FGMaxCS
0  4001031128  55233.948121     151.325885   377.000   377.000000
1  4001100155  10971.006334      30.057552   530.000   530.000000
2  4001100156  16411.114288      44.961957  1140.000  1140.000000
3  4001100212      9.324477       0.025547     0.000     0.025547
4  4001310103  15059.623494      41.259242  3193.839  3193.839000


Table Name: df_TC_04_INV_03_FGInv
Empty DataFrame
Columns: [WHCode, FGSKUCode, MthNum, MaxOS, MinOS, MaxOSDays, MinOSDays, MinCS, MaxCS, MaxSumLim, MaxSupLim]
Index: []


Table Name: df_TC_06_NegativeList_01_FGSupply
Empty DataFrame
Columns: [CountryCode, FactCode, FGSKUCode, SupplyStatus]
Index: []


Table Name: TC_06_NegativeList_02_RMSupply
Empty DataFrame
Columns: [FactCode, RMSKUCode, MthNum, SupplyStatus]
Index: []


Table Name: df_TM_04_FIN_01_ICC
   ICC
0    0


Table Name: df_TM_03_CAL_01_Months
   MthNum  MthDesc
0       1      NaN
1       2      NaN
2       3      NaN
3       4      NaN
4       5      NaN

#### Step 1.b: Making tables as per Jaideep's Tables in the Database

In [4]:
# df_demand
df_demand = df_demand[df_demand['Ret_Flag'] == 1]
df_demand.drop(columns=['Ret_Flag'], inplace=True)

# df_Secondary_Freight
df_Secondary_Freight = df_Secondary_Freight[df_Secondary_Freight['retain_flag'] == 1]
df_Secondary_Freight.drop(columns=['retain_flag','Missing_Flag'], inplace=True)

# df_Primary_Freight
df_Primary_Freight = df_Primary_Freight[df_Primary_Freight['retain_flag'] == 1]
df_Primary_Freight.drop(columns=['retain_flag','Missing_Flag'], inplace=True)

# df_BOM
df_BOM = df_BOM[df_BOM['retain_flag'] == 1]
df_BOM.drop(columns=['retain_flag'], inplace=True)

# df_FG_M1OS
df_FG_M1OS = df_FG_M1OS[df_FG_M1OS['retain_flag'] == 1]
df_FG_M1OS.drop(columns=['retain_flag','Missing_Flag'], inplace=True)
 
# df_RM_M1OS
df_RM_M1OS = df_RM_M1OS[df_RM_M1OS['Retain_Flag'] == 1]  
df_RM_M1OS.drop(columns=['Retain_Flag','Missing_Flag'], inplace=True)
 
# df_fgsku
df_fgsku = df_fgsku[df_fgsku['retain_flag'] == 1]
df_fgsku.drop(columns=['retain_flag'], inplace=True)

# df_RM_Supply
df_RM_Supply = df_RM_Supply[df_RM_Supply['retain_flag'] == 1]
df_RM_Supply.drop(columns=['retain_flag'], inplace=True)

# df_Production
df_Production = df_Production[df_Production['retain_flag'] == 1]
df_Production.drop(columns=['retain_flag'], inplace=True)   


# df_wh_fg
df_wh_fg = df_wh_fg[df_wh_fg['retain_flag'] == 1]
df_wh_fg.drop(columns=['retain_flag'], inplace=True)

####  Step 2: Storing all df in required database¶

In [5]:
# Set up the connection parameters
# Set up the connection parameters
server = 'LAPTOP-1PB7RUND'
database = '09052024_AmericanaFoods_BacktestingData_v0.9'
driver = 'ODBC Driver 17 for SQL Server'

# Build the connection string with Windows authentication
connection_string = f"mssql+pyodbc://{server}/{database}?driver={driver}"

# Create SQLAlchemy engine
engine = create_engine(connection_string)

# Define your DataFrames here:

dfs = {
    'TM_02_LOC_04_FactLine': df_lines,
    'TM_02_LOC_01_Country': df_country,
    'TC_01_Demand_01_FGDemand': df_demand,
    'TC_02_FRT_01_Sec': df_Secondary_Freight,
    'TC_02_FRT_02_Pri': df_Primary_Freight,
    'TC_03_Factories_01_BOM': df_BOM,
    'TC_03_Factories_02_WorkingDays': df_calender,
    'TC_03_Factories_03_ShiftData': df_Factory_Operations,
    'TC_03_Factories_04_LineFGSKUData': df_Production,
    'TC_03_Factories_06_LabourSupply': df_LabourData,
    'TC_04_INV_01_FGOS': df_FG_M1OS,
    'TC_04_INV_02_RMOS': df_RM_M1OS,
    'TC_04_INV_04_RMInv': df_RM_Supply,
    'TM_01_Material_01_FGSKU': df_fgsku,
    'TM_01_Material_02_RMSKU': df_rmsku,
    'TM_01_Material_03_TrimSKU': df_trimming,
    'TM_02_LOC_02_Warehouse': df_warehouse,
    'TM_02_LOC_03_Factory': df_factory,
    'T_01_RM_transfer': df_rm_transfer,
    'T_01_FGfact_trimm':df_fgfact_trimm,
    'T_01_WH_FG':df_wh_fg,
    'T_01_RMTransfer_Restrictions':df_rmtransfer_restrictions,
    'T_01_Min_contract_labour':df_min_contract_labour,
    'T_01_Prep_line_FG':df_prep_line_fg,
    'T_01_Prep_line_capacity':df_prep_line_capacity,
    'TC_04_INV_06_FGCSInvNorm':df_TC_04_INV_06_FGCSInvNorm,
    'TC_04_INV_03_FGInv':df_TC_04_INV_03_FGInv,
    'TC_06_NegativeList_01_FGSupply':df_TC_06_NegativeList_01_FGSupply,
    'TC_06_NegativeList_02_RMSupply':df_TC_06_NegativeList_02_RMSupply,
    'TM_04_FIN_01_ICC':df_TM_04_FIN_01_ICC,
    'TM_03_CAL_01_Months':df_TM_03_CAL_01_Months
    
}

tables_updated = []  # List to store the names of tables that were successfully updated

try:
    # Insert each DataFrame into its corresponding table
    for table_name, df in dfs.items():
        df.to_sql(table_name, con=engine, if_exists='replace', index=False)
        tables_updated.append(table_name)  # Add the table name to the list of updated tables
#If you want to create a new table with existing df that can be done by:
#df_WCC.to_sql('test_table', con=engine, if_exists='replace', index=False)

    # If no errors occurred, print all tables updated
    print("All tables updated successfully:")
    for table_name in tables_updated:
        print(table_name)

except Exception as e:
    print(f"An error occurred while inserting into table {table_name}: {e}")

finally:
    # Dispose the engine
    engine.dispose()

All tables updated successfully:
TM_02_LOC_04_FactLine
TM_02_LOC_01_Country
TC_01_Demand_01_FGDemand
TC_02_FRT_01_Sec
TC_02_FRT_02_Pri
TC_03_Factories_01_BOM
TC_03_Factories_02_WorkingDays
TC_03_Factories_03_ShiftData
TC_03_Factories_04_LineFGSKUData
TC_03_Factories_06_LabourSupply
TC_04_INV_01_FGOS
TC_04_INV_02_RMOS
TC_04_INV_04_RMInv
TM_01_Material_01_FGSKU
TM_01_Material_02_RMSKU
TM_01_Material_03_TrimSKU
TM_02_LOC_02_Warehouse
TM_02_LOC_03_Factory
T_01_RM_transfer
T_01_FGfact_trimm
T_01_WH_FG
T_01_RMTransfer_Restrictions
T_01_Min_contract_labour
T_01_Prep_line_FG
T_01_Prep_line_capacity
TC_04_INV_06_FGCSInvNorm
TC_04_INV_03_FGInv
TC_06_NegativeList_01_FGSupply
TC_06_NegativeList_02_RMSupply
TM_04_FIN_01_ICC
TM_03_CAL_01_Months

In [6]:
# Build the connection string with Windows authentication
connection_string = f"mssql+pyodbc://{server}/{database}?driver={driver}"

# Create SQLAlchemy engine
engine = create_engine(connection_string)

# Define your DataFrames and their corresponding table names
dfs = {
    'TM_02_LOC_04_FactLine': df_lines,
    'TM_02_LOC_01_Country': df_country,
    'TC_01_Demand_01_FGDemand': df_demand,
    'TC_02_FRT_01_Sec': df_Secondary_Freight,
    'TC_02_FRT_02_Pri': df_Primary_Freight,
    'TC_03_Factories_01_BOM': df_BOM,
    'TC_03_Factories_02_WorkingDays': df_calender,
    'TC_03_Factories_03_ShiftData': df_Factory_Operations,
    'TC_03_Factories_04_LineFGSKUData': df_Production,
    'TC_03_Factories_06_LabourSupply': df_LabourData,
    'TC_04_INV_01_FGOS': df_FG_M1OS,
    'TC_04_INV_02_RMOS': df_RM_M1OS,
    'TC_04_INV_04_RMInv': df_RM_Supply,
    'TM_01_Material_01_FGSKU': df_fgsku,
    'TM_01_Material_02_RMSKU': df_rmsku,
    'TM_01_Material_03_TrimSKU': df_trimming,
    'TM_02_LOC_02_Warehouse': df_warehouse,
    'TM_02_LOC_03_Factory': df_factory,
    'T_01_RM_transfer': df_rm_transfer,
    'T_01_FGfact_trimm':df_fgfact_trimm,
    'T_01_WH_FG':df_wh_fg,
    'T_01_RMTransfer_Restrictions':df_rmtransfer_restrictions,
    'T_01_Min_contract_labour':df_min_contract_labour,
    'T_01_Prep_line_FG':df_prep_line_fg,
    'T_01_Prep_line_capacity':df_prep_line_capacity,
    'TC_04_INV_06_FGCSInvNorm':df_TC_04_INV_06_FGCSInvNorm,
    'TC_04_INV_03_FGInv':df_TC_04_INV_03_FGInv,
    'TC_06_NegativeList_01_FGSupply':df_TC_06_NegativeList_01_FGSupply,
    'TC_06_NegativeList_02_RMSupply':df_TC_06_NegativeList_02_RMSupply,
    'TM_04_FIN_01_ICC':df_TM_04_FIN_01_ICC,
    'TM_03_CAL_01_Months':df_TM_03_CAL_01_Months,  
}

# Define datatypes for each column in each table
column_datatypes = {
    'TM_02_LOC_04_FactLine': {
        'FactCode': NVARCHAR(length=50),
        'Line': NVARCHAR(length=50),
    },
    'TM_02_LOC_01_Country': {
        'CountryCode': NVARCHAR(length=50),
        'CountryDesc': NVARCHAR(length=50),
    },
    'TC_01_Demand_01_FGDemand':{
        'FGSKUCode': NVARCHAR(length=50),
        'Country': NVARCHAR(length=50),
        'Month':INTEGER,
        'UM':NVARCHAR(length=50),
        'Demand':FLOAT,
    },
    'TC_02_FRT_01_Sec':{
        'Country':NVARCHAR(length=50),
        'WHCode':NVARCHAR(length=50),
        'FG Code':NVARCHAR(length=50),
        'Total Cost(FRT_CD)':FLOAT,
        'MaxShipment':FLOAT,
    },
    'TC_02_FRT_02_Pri':{
        'Origin':NVARCHAR(length=50),
        'WHCode':NVARCHAR(length=50),
        'FG Code':NVARCHAR(length=50),
        'Total Cost(FRT_CD)':FLOAT,
        'MaxShipment':FLOAT,
    },
    'TC_03_Factories_01_BOM':{
        'Bom version':NVARCHAR(length=50),
        'FactCode':NVARCHAR(length=50),
        'FG CODE':NVARCHAR(length=50),
        'FG DESC':NVARCHAR(length=250),
        'FG UOM':NVARCHAR(length=50),
        'RM CODE':NVARCHAR(length=50),
        'RM DESC':NVARCHAR(length=250),
        'RM UOM':NVARCHAR(length=50),
        'Consumption per unit of FG (KG per UOM)':FLOAT,
        'Cum Share taken':FLOAT,
    },
    'TC_03_Factories_02_WorkingDays':{
        'FactCode':NVARCHAR(length=50),
        'MonthNum':INTEGER,
        'HoursPerDay':FLOAT,
        'WorkingDays':FLOAT,
    },
    'TC_03_Factories_03_ShiftData':{
        'FactCode':NVARCHAR(length=50),
        'LineNum':NVARCHAR(length=50),
        'ShiftNum':INTEGER,
        'StandardHoursPerDay':FLOAT,
        'OT':FLOAT,
        'MaxVirtualShift':FLOAT,
        'CostVirtualShift':FLOAT,
        'CostRealShift':FLOAT,
        'CostOT':FLOAT,
    },
    'TC_03_Factories_04_LineFGSKUData':{
        'FactCode':NVARCHAR(length=50),
        'LineNum':NVARCHAR(length=50),
        'Unified code':NVARCHAR(length=50),
        'MOQ':FLOAT,
        'ThruputPerHour':FLOAT,
        'EnergyCostPerUnitBOM1':FLOAT,
        'EnergyCostPerUnitBOM2':FLOAT,
        'TeamSizeBOM1':FLOAT,
        'TeamSizeBOM2':FLOAT,
    },
    'TC_03_Factories_06_LabourSupply':{
        'FactCode':NVARCHAR(length=50),
        'MonthNum':INTEGER,
        'R_Days':FLOAT,
        'R_Count':FLOAT,
        'R_Min':FLOAT,
        'R_Max':FLOAT,
        'R_Hrs':FLOAT,
        'R_OT':FLOAT,
        'R_Wages':FLOAT,
        'R_OTWages':FLOAT,
        'C_Days':FLOAT,
        'C_Count':FLOAT,
        'C_OT':FLOAT,
        'C_OTWages':FLOAT,
        'RegCSMin':FLOAT,
        'RegCSMax':FLOAT,
        'CtrCSMin':FLOAT,
        'CtrCSMax':FLOAT,
        'RegMaxHire':FLOAT,
        'RegMaxFire':FLOAT,
        'CtrMaxHire':FLOAT,
        'CtrMaxFire':FLOAT,
    },
    'TC_04_INV_01_FGOS':{
        'FGSKUCode':NVARCHAR(length=50),
        'UM':NVARCHAR(length=50),
        'WH Code':NVARCHAR(length=50),
        'From NFC':FLOAT,
        'From GFC':FLOAT,
        'From KFC':FLOAT,
    },
    'TC_04_INV_02_RMOS':{
        'RM Code':NVARCHAR(length=50),
        'RM UOM':NVARCHAR(length=50),
        'FactCode':NVARCHAR(length=50),
        'RM-M1OS':FLOAT,
    },
    'TC_04_INV_04_RMInv':{
        'RM Code':NVARCHAR(length=50),
        'RMUOM':NVARCHAR(length=50),
        'FactCode':NVARCHAR(length=50),
        'CostPerUnit':FLOAT,
        'MaxOS':FLOAT,
        'MinOS':FLOAT,
        'Month':INTEGER,
        'MinCS':FLOAT,
        'MaxCS':FLOAT,
        'MaxSupLim':FLOAT,
        'RMStoreCost':FLOAT,
    },
    'TM_01_Material_01_FGSKU':{
        'FG Code':NVARCHAR(length=50),
        'FG Desc':NVARCHAR(length=250),
        'FG Cat':NVARCHAR(length=50),
        'FG UOM':NVARCHAR(length=50),
        'WtPerUnit':FLOAT,
        'Book Cost':FLOAT,
    },
    'TM_01_Material_02_RMSKU':{
        'RM Code':NVARCHAR(length=50),
        'RM UOM':NVARCHAR(length=50),
        'RM Desc':NVARCHAR(length=250),
    },
    'TM_01_Material_03_TrimSKU':{
        'TrimmingSKUCode':NVARCHAR(length=50),
        'TrimmingSKUDesc':NVARCHAR(length=250),
    },
    'TM_02_LOC_02_Warehouse':{
        'WHCode':NVARCHAR(length=50),
        'WHDesc':NVARCHAR(length=50),
        'WHLoc':NVARCHAR(length=50),
        'WHCountry':NVARCHAR(length=50),
        'PalletCapacity':FLOAT,
        'CostPerPalletPerMonth':FLOAT,
    },
    'TM_02_LOC_03_Factory':{
        'FactCode':NVARCHAR(length=50),
        'FactDesc':NVARCHAR(length=50),
        'FactLoc':NVARCHAR(length=50),
        'FactCountry':NVARCHAR(length=50),
    },
    'T_01_RM_transfer':{
        'OrigFact':NVARCHAR(length=50),
        'DestFact':NVARCHAR(length=50),
        'TSKUCode':NVARCHAR(length=50),
        'MthNum':INTEGER,
        'FrtRate/kg ':FLOAT,
    },
    'T_01_FGfact_trimm':{
        'ASSEMB_ITEM_CODE':NVARCHAR(length=50),
        'Fact Code':NVARCHAR(length=50),
        'TrimmingKGPerUnit':FLOAT,
    },
    'T_01_WH_FG':{
        'FG Code':NVARCHAR(length=50),
        'UOM':NVARCHAR(length=50),
        'WH Code':NVARCHAR(length=50),
        'CostperUOM':FLOAT,
    },
    'T_01_RMTransfer_Restrictions':{
        'OrigFact':NVARCHAR(length=50),
        'DestFact':NVARCHAR(length=50),
        'TSKUCode':NVARCHAR(length=50),
        'MaxLimit':INTEGER,
    },
    'T_01_Min_contract_labour':{
        'Factory':NVARCHAR(length=50),
        'MinContractLabourHoursPerMonth':INTEGER,
    },
    'T_01_Prep_line_FG':{
        'Factory':NVARCHAR(length=50),
        'Combination':NVARCHAR(length=50),
        'SKU Code':NVARCHAR(length=50),
    },
    'T_01_Prep_line_capacity':{
        'Factory':NVARCHAR(length=50),
        'Combination':NVARCHAR(length=50),
        'maxProdKg':INTEGER, 
    },
    'TC_04_INV_06_FGCSInvNorm':{
        'MinCS':FLOAT,
        'MaxCS':FLOAT,
        'MaxSupLim':FLOAT,
    }
}


tables_updated = []  # List to store the names of tables that were successfully updated

try:
    # Insert each DataFrame into its corresponding table
    for table_name, df in dfs.items():
        # Load your DataFrame for the current table
#         df = pd.read_csv(f'{table_name}.csv')  # Assuming your data is in CSV files
        
        # Get column datatypes for the current table
        table_column_datatypes = column_datatypes.get(table_name, {})
        
        # Transfer the DataFrame to the SQL Server table with specified datatypes
        df.to_sql(table_name, con=engine, if_exists='replace', index=False, dtype=table_column_datatypes)
        tables_updated.append(table_name)  # Add the table name to the list of updated tables

        
    # If no errors occurred, print all tables updated
    print("All tables updated successfully:")
    for table_name in tables_updated:
        print(table_name)

except Exception as e:
    print(f"An error occurred while inserting into table {table_name}: {e}")

finally:
    # Dispose the engine
    engine.dispose()

All tables updated successfully:
TM_02_LOC_04_FactLine
TM_02_LOC_01_Country
TC_01_Demand_01_FGDemand
TC_02_FRT_01_Sec
TC_02_FRT_02_Pri
TC_03_Factories_01_BOM
TC_03_Factories_02_WorkingDays
TC_03_Factories_03_ShiftData
TC_03_Factories_04_LineFGSKUData
TC_03_Factories_06_LabourSupply
TC_04_INV_01_FGOS
TC_04_INV_02_RMOS
TC_04_INV_04_RMInv
TM_01_Material_01_FGSKU
TM_01_Material_02_RMSKU
TM_01_Material_03_TrimSKU
TM_02_LOC_02_Warehouse
TM_02_LOC_03_Factory
T_01_RM_transfer
T_01_FGfact_trimm
T_01_WH_FG
T_01_RMTransfer_Restrictions
T_01_Min_contract_labour
T_01_Prep_line_FG
T_01_Prep_line_capacity
TC_04_INV_06_FGCSInvNorm
TC_04_INV_03_FGInv
TC_06_NegativeList_01_FGSupply
TC_06_NegativeList_02_RMSupply
TM_04_FIN_01_ICC
TM_03_CAL_01_Months