In [1]:
############### Importing all the dependencies 
import pandas as pd
import numpy as np
from openpyxl import load_workbook
from openpyxl.styles import PatternFill, Border, Side, Font
from openpyxl.utils import get_column_letter
from openpyxl.worksheet.table import Table, TableStyleInfo
from openpyxl.styles.alignment import Alignment
from openpyxl import Workbook

In [2]:
################### Reading all input data ####################
demand_output = "28-04-2024_Demand_Automation.xlsx"
fg_m1_os = '29-04-24_FG M10S Output.xlsx'
# Demand Sheet
df_demand=pd.read_excel(demand_output,sheet_name='Demand_output')

## M1OS data at FG level
df_os = pd.read_excel(fg_m1_os, sheet_name = 'FG-M1OS',skiprows = 1,usecols=lambda x: 'Unnamed' not in x,)

## Take only cases with retain flag 1 in both the cases 
df_demand_ = df_demand[df_demand['Ret_Flag']==1]
df_os_ = df_os[df_os['retain_flag']==1]

**Note:** This module computes the FGMaxCS by selecting the maximum value between the 28-day stock and the opening stock. Additionally, it calculates the 28-day order fulfillment stock (28 DOFS) based on annual demand. Furthermore, the data includes the opening stock (FGM1OS) at the warehouse level. In cases where a FG item is present in multiple warehouses, the system considers the sum of these stocks.

In [3]:
# df_demand.columns

In [4]:
df_os.columns

Index(['FGSKUCode', 'UM', 'WH Code', 'FACTCode', 'From NFC', 'From GFC',
       'From KFC', 'retain_flag', 'Missing_Flag'],
      dtype='object')

In [5]:
########### Unpivot the os table 

# Unpivot the table
df_unpivoted = df_os_.melt(id_vars=['FGSKUCode', 'UM', 'WH Code', 'FACTCode'], 
                           value_vars=['From NFC', 'From GFC', 'From KFC'], 
                           var_name='Source', value_name='FGM1OS')

# Map the Source values to FactCode values
source_to_fact = {'From NFC': 'NFC', 'From GFC': 'GFC', 'From KFC': 'KFC'}
df_unpivoted['FactCode'] = df_unpivoted['Source'].map(source_to_fact)

# Drop the 'Source' column if needed
df_unpivoted.drop(columns=['Source'], inplace=True)

# Reorder columns if needed
df_unpivoted = df_unpivoted[['FGSKUCode', 'UM', 'WH Code', 'FactCode', 'FGM1OS']]
# df_unpivoted .head()

# Pivot the table
df_pivoted = df_unpivoted.pivot_table(index=['FGSKUCode', 'UM'], 
                                      values='FGM1OS', 
                                      aggfunc='sum').reset_index()
df_pivoted

      FGSKUCode      UM      FGM1OS
0    4001031128  CARTON   377.00000
1    4001100155  CARTON   530.00000
2    4001100156  CARTON  1140.00000
3    4001100606  CARTON     0.00000
4    4001310103  CARTON  3193.83900
..          ...     ...         ...
546  4003350401  CARTON   993.64393
547  4003350402  CARTON  1471.55626
548  4003350501  CARTON  5365.01997
549  4003350515  CARTON   672.12774
550  5011999108  CARTON     0.00000

[551 rows x 3 columns]

In [6]:
########### Modify demand file to get 1 days of demand value at FG level
# Pivot the Demand table
df_demand_pivoted = df_demand_.pivot_table(index='FGSKUCode', 
                                            values='Demand', 
                                            aggfunc='sum').reset_index()
df_demand_pivoted['28_days_stock'] = df_demand_pivoted['Demand']*(1/365.0)
df_demand_pivoted

      FGSKUCode        Demand  28_days_stock
0    4001031128  43142.109056     118.197559
1    4001100155   7922.820269      21.706357
2    4001100156  14229.908717      38.986051
3    4001100606    242.391998       0.664088
4    4001310103  18808.288020      51.529556
..          ...           ...            ...
546  4003350401  14697.096188      40.266017
547  4003350402  10694.221720      29.299238
548  4003350501  36925.209765     101.164958
549  4003350515   1853.753527       5.078777
550  5011999108    120.000000       0.328767

[551 rows x 3 columns]

In [7]:
########### Join both the tables #################

# Performing the left join
merged_df = pd.merge(df_demand_pivoted, df_pivoted, on='FGSKUCode',how='left')
merged_df['FGMaxCS'] = merged_df[['28_days_stock', 'FGM1OS']].max(axis=1)

In [8]:
# merged_df.columns

In [9]:
final_df = merged_df[['FGSKUCode', 'Demand', '28_days_stock','FGM1OS', 'FGMaxCS']]
# Renaming columns
final_df = final_df.rename(columns={'FGSKUCode': 'FGSKUCode',
                                     'Demand': 'SumOfDemand',
                                     '28_days_stock': 'T28DaysDemand',
                                     'FGM1OS': 'FGM1OS',
                                     'FGMaxCS': 'FGMaxCS'})
# Replacing blank values with zeros
final_df = final_df.fillna(0)
final_df['retain_flag'] = 1
final_df.head()

    FGSKUCode   SumOfDemand  T28DaysDemand    FGM1OS      FGMaxCS  retain_flag
0  4001031128  43142.109056     118.197559   377.000   377.000000            1
1  4001100155   7922.820269      21.706357   530.000   530.000000            1
2  4001100156  14229.908717      38.986051  1140.000  1140.000000            1
3  4001100606    242.391998       0.664088     0.000     0.664088            1
4  4001310103  18808.288020      51.529556  3193.839  3193.839000            1

In [10]:
# Output Formatting Function
def apply_formatting(worksheet):
    # Remove gridlines
    worksheet.sheet_view.showGridLines = False

    # Add one row and column at the top
    worksheet.insert_rows(1)
    worksheet.insert_cols(1)
    worksheet.cell(row=1, column=1)

    # Add table borders
    border = Border(left=Side(style='thin'), 
                    right=Side(style='thin'), 
                    top=Side(style='thin'), 
                    bottom=Side(style='thin'))
    for row in worksheet.iter_rows(min_row=2, min_col=2, max_col=worksheet.max_column):
        for cell in row:
            cell.border = border

    # Set light blue color for headers
    for cell in worksheet.iter_cols(min_row=2, min_col=2):
        cell[0].fill = PatternFill(start_color="ADD8E6", end_color="ADD8E6", fill_type="solid")  # Light blue
    
    # Remove borders for the extra added row and column at the top
    for cell in worksheet['A1:C1'][0]:
        cell.border = None

    # Autofit columns
    for col in worksheet.columns:
        max_length = 0
        column = col[0].column_letter  # Get the column name
        for cell in col:
            try:  # Necessary to avoid error on empty cells
                if len(str(cell.value)) > max_length:
                    max_length = len(cell.value)
            except:
                pass
        adjusted_width = (max_length + 2) * 1.2
        worksheet.column_dimensions[column].width = adjusted_width

    # Apply auto filters starting from the 2nd row in the B column
    last_row = worksheet.max_row
    last_column = worksheet.max_column
    range_str = f"B2:{get_column_letter(last_column)}{last_row}"
    worksheet.auto_filter.ref = range_str

def save_dataframes_to_excel(dataframes_list, file_paths_list):
    for dataframes, file_path in zip(dataframes_list, file_paths_list):
        with pd.ExcelWriter(file_path, engine='openpyxl') as writer:
            for sheet_name, dataframe in dataframes.items():
                dataframe.to_excel(writer, sheet_name=sheet_name, index=False)

            workbook = writer.book
            for sheet_name in dataframes.keys():
                worksheet = workbook[sheet_name]
                apply_formatting(worksheet)

            workbook.save(file_path)

In [11]:
dataframes_list = [
    {'TC_04_INV_06_FGCSInvNorm': final_df}
]

file_paths_list = [
    '09-05-24_FG MaxCS Output.xlsx',
]

# Call the function to save DataFrames to Excel with formatting
save_dataframes_to_excel(dataframes_list, file_paths_list)

print("All DataFrames are saved to {}".format(file_paths_list))

All DataFrames are saved to ['09-05-24_FG MaxCS Output.xlsx']